.applycards{
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
}
.typical{
    text-align: center;
    margin: 0 16rem;
}
.heading{
    margin:2rem 0;
    text-align: center;
    font-size: 3rem;
}
.cards{
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.cardforcourse>img{
    border-radius: 20px;
    box-shadow: 0 3px 3px rgba(0,0,0,0.2);
    width: 150px;
    height: 100px;
}
.carddet{
    color: #2f2f2f;
    word-spacing: 2px;
}
.cardforcourse{
    width: 25%;
    margin: 10px;
    padding: 19px;
    /* border: 7px solid #acffea; */
    border: none;
    background-color: rgb(242 251 247);
    border-radius: 25px;
    text-align: center;
}

@media screen and (max-width: 480px){
    .typical{
        margin: 0 2rem;
    }
    .cards{
        margin-left: 2rem;
        flex-direction: column;
    }
    .cardforcourse{
        width: 70%;
        margin: 1rem;
    }

    .applycards{
        width: 100%;
        margin-top: 4rem;
    }
}
@media screen and (min-width: 540px) and (max-width:900px){
    .cardforcourse{
        width: 40%;
    }
    .applycards{
      width: 100%;
    }
    .typical{
        margin: 0 2rem;
    }
}