.contact-form{
    padding: 0 7rem 0 7rem;
    display: flex;
    height: 500px;
    background-color: #ffff;
    border-bottom-left-radius: 224px;
    border-bottom-right-radius: 200px;
    margin-top: 8rem;
}

.c-right{
    display: flex;
    justify-content: center;
    position: relative;
    flex: 1;
}

.c-right>form
{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    
}

.c-right .user{
    width: 20rem;
    height: 2rem;
    padding: 0.3em;
    outline: none;
    border: 3px solid #43ddff;
    border-radius: 8px;
    font-size: 16px;   
}

textarea{
    height: 4rem!important;
}

.c-blur1{
    top: 1rem;
    left: 8rem;
}

@media screen and (max-width: 480px) {
    .contact-form{
        padding: 0;
        flex-direction: column;
        gap: 5rem;
        width: 100%;
        border-bottom-left-radius: 102px;
    border-bottom-right-radius: 102px;
        height: 40rem;
    }
    .c-right .user{
        width: 16rem;
    }
    .c-right{
        margin-top: -19rem;
    }

}   
  .awesome {
    margin-right: 156px;
    display: flex;
    flex-direction: column;
    position: relative;
  }
  
  .awesome > :nth-child(1) {
    color: black;
    font-size: 2.5rem;
    font-weight: bold;
  }
  .awesome > :nth-child(2) {
    color: #43ddff;
    font-size: 2.5rem;
    font-weight: bold;
  }
  .s-button {
    width: 8rem;
    height: 2rem;
    margin-top: 4rem;
  }
  .w-left {
    top: 60px;
    display: flex;
    flex: 1 0;
    justify-content: flex-start;
    position: relative;
  }
  #contactbutton{
    cursor: pointer;
        background: rgb(45 ,248 ,197);
        border: none;
        border-radius: 20px;
        padding: 13px 123px
  }
  
  @media screen and (max-width: 480px) {
    .works {
      margin-bottom: -14rem;
      align-items: center;
      flex-direction: column;
      height: 40rem;
      padding: 0;
      gap: 4rem;
    }

    .w-left{
      justify-content: center;
    }
    
  .awesome > :nth-child(1) {
    font-size: 2.2rem;
  }
    .img1{
      margin: 45px;
    }
  .awesome{
    margin-right: 12px;
  }
  
  }
  
  @media screen and (min-width: 540px) and (max-width:1100px){
  .contact-form{
    /* width: 100%; */
    padding: 17px 5rem 0 3rem;
  }
  }
  
  
  
  
  